<h1 class="title">@danielzotti/ng-textarea-autoresize</h1>

<div class="container">

  <!-- SIMPLE TEAXTAREA / CONTENTEDITABLE -->
  <div class="example">
    <h2 class="example__title">simple</h2>

    <!-- textarea -->
    <div class="example__item">
      <pre class="example__how-to">&lt;textarea <b><i>autoresize</i></b>&gt;&lt;&#47;textarea&gt;</pre>
      <div class="example__code">
        <textarea autoresize placeholder="Try typing something"></textarea>
        <textarea autoresize placeholder="Try typing something (big padding)" style="padding:50px"></textarea>
        <textarea autoresize placeholder="Try typing something (no padding)" style="padding:0"></textarea>
      </div>
    </div>

    <hr>

    <!-- contenteditable -->
    <div class="example__item">
      <pre
           class="example__how-to">&lt;div <i>contenteditable</i>&nbsp;<b><i>autoresize</i></b>&gt;&lt;&#47;div&gt;</pre>
      <div class="example__code">
        <div contenteditable autoresize>Try edit this content...</div>
      </div>
    </div>

  </div>

  <!-- MAX HEIGHT -->
  <div class="example">
    <h2 class="example__title">max height = 150px</h2>

    <!-- TEAXTAREA -->
    <div class="example__item">
      <pre
           class="example__how-to">&lt;textarea <b><i>autoresize</i></b>&nbsp;<b><i>autoresizeMaxHeight="150"</i></b>&gt;&lt;&#47;textarea&gt;</pre>
      <div class="example__code">
        <textarea autoresize placeholder="Try typing something" autoresizeMaxHeight="150"></textarea>
      </div>
    </div>
  </div>

  <!-- CONNECTION WITH MODEL -->
  <div class="example">
    <h2 class="example__title">connection with model</h2>
    <div>
      <button (click)="text = textShort">set short text</button>
      <button (click)="text = textLong">set very long text</button>
      <button (click)="maxHeight = 80">set maxHeight = 80</button>
      <button (click)="maxHeight = 200">set maxHeight = 200</button>
      <p class="example__variable">maxHeight: <b>{{maxHeight}}</b></p>
      <p class="example__variable">text: <b>{{text | json}}</b></p>
    </div>
    <div class="example__item">
      <pre
           class="example__how-to">&lt;textarea <b><i>[autoresize]="text"</i></b>&nbsp;<b><i>[autoresizeMaxHeight]="maxHeight"</i></b>&gt;&lt;&#47;textarea&gt;</pre>
      <div class="example__code">
        <textarea disabled [autoresize]="text" [autoresizeMaxHeight]="maxHeight">{{text}}</textarea>
      </div>
    </div>

    <hr>

    <div class="example__item">
      <pre class="example__how-to">&lt;form #form="ngForm"&gt;
    &lt;textarea <b><i>[autoresize]="text"</i></b>&nbsp;<b><i>[(ngModel)]="text"</i></b>&nbsp;name="text" <b><i>[autoresizeMaxHeight]="maxHeight"</i></b>&gt;&lt;&#47;textarea&gt;
&lt;&#47;form&gt;</pre>
      <div class="example__code">
        <form #form="ngForm">
          <!-- <textarea name="text" [(ngModel)]="text" autoresize [autoresizeMaxHeight]="maxHeight"></textarea> -->
          <textarea name="text" [(ngModel)]="text" [autoresize]="text" [autoresizeMaxHeight]="maxHeight"></textarea>
        </form>
      </div>
    </div>

  </div>
</div>
